<%- include('./partials/site-head') -%>

<body>
  <header>
    <%- include('./partials/dino') -%>
    <h1>Create your own blog</h1>
  </header>
  <main>
    <form action="/" method="POST" id="create-blog-form">
      <label>
        Subdomain
        <input
          name="subdomain"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Title
        <input
          name="title"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Author
        <input
          name="author"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Email
        <input
          name="email"
          type="email"
          required
        >
      </label>
      <br>

      <label>
        Description
        <textarea name="description" form="create-blog-form"></textarea>
      </label>
      <br>

      <button type="submit">Create blog</button>
    </form>
  </main>
</body>
</html>

<%- include('./partials/site-footer') -%>
