<%- include('./partials/site-head') -%>

<body>
  <header>
    <%- include('./partials/dino') -%>
    <h1>Create your blog</h1>
  </header>
  <main>
    <form action="/" method="POST" id="create-blog-form">
      <label>
        Subdomain
        <br>
        <input
          name="subdomain"
          placeholder="my-awesome-blog"
          type="text"
          required
        >.dinoblog.net
      </label>
      <br>

      <label>
        Title
        <br>
        <input
          name="title"
          placeholder="My Awesome Blog"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Author
        <br>
        <input
          name="author"
          placeholder="Jane Doe"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Email
        <br>
        <input
          name="email"
          placeholder="jane@mail.com"
          type="email"
          required
        >
      </label>
      <br>

      <label>
        Front-page content
        <br>
        <textarea name="description" form="create-blog-form" placeholder="An awesome blog about awesome things"></textarea>
      </label>
      <br>

      <button type="submit">Create blog</button>
    </form>
  </main>
</body>
</html>

<%- include('./partials/site-footer') -%>
