<%- include('./partials/site-head') -%>

<body>
  <header>
    <%- include('./partials/dino') -%>
    <h1>Welcome to dinoblog!</h1>
  </header>
  <main>
    <p>
      Dinoblog makes it easier than ever to start sharing your writing.
      Answer a few questions and start publishing content to a sharable URL.
      <b>No ads. No trackers. Just words.</b>
    </p>

    <p>
      <small>
        <b>Security notice:</b> Please note several essential security features
        are missing from this demo. Ensure you store a backup of your work in
        case of any issues.
      </small>
    </p>

    <a href="/create">Click here to get started.</a>
  </main>
</body>

<%- include('./partials/site-footer') -%>
