<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dinoblog</title>
</head>
<body>
  <header>
    <h1>Welcome to dinoblog!</h1>
    <pre aria-hidden>
               __
              / _)
     _.----._/ /
    /         /
 __/ (  | (  |
/__.-'|_|--|_|
    </pre>
  </header>
  <main>
    <a href="/create">Create a blog</a>
  </main>
</body>
</html>
