<%- include('./partials/site-head') -%>

<body>
  <header>
    <pre aria-hidden>
               __
              / _)
     _.----._/ /
    /  <%= code %>    /
 __/ (  | (  |
/__.-'|_|--|_|
    </pre>
    <h1>Uh oh</h1>
  </header>
  <main>
    <p>That's not supposed to happen. <a href="/">Back to home.</a></p>
  </main>
</body>
</html>

<%- include('./partials/site-footer') -%>
