<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dinoblog</title>
</head>
<body>
  <%- include('../partials/site-header') -%>

  <main>
    <h2>Blog posts</h2>
    <% if (posts && posts.length) { %>
      <ul>
        <% posts.forEach(function (post) { %>
          <li>
            <a href="/blog/<%= post.slug %>">
              <%= post.title %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>
        No posts
      </p>
    <% } %>
  </main>
</body>
</html>
