<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dinoblog</title>
</head>
<body>
  <header>
    <h1>Success</h1>
    <%- include('../partials/blog-nav') -%>
  </header>

  <main>
    Your blog has been updated.
  </main>
</body>
</html>
