<%- include('../partials/site-head') -%>

<body>
  <header>
    <h1>Success!</h1>
    <%- include('../partials/blog-nav') -%>
  </header>

  <main>
    Your blog has been updated.
  </main>
</body>

<%- include('../partials/site-footer') -%>
