<%- include('../partials/site-head') -%>

<body>
  <%- include('../partials/blog-header') -%>

  <main>
    <p><%= description %></p>
  </main>
</body>
</html>

<%- include('../partials/site-footer') -%>
