<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dinoblog</title>
</head>
<body>
  <header>
    <h1>New post</h1>
  </header>
  <main>
    <form action="/_new" method="POST" id="blog-form">
      <label>
        Title
        <input
          name="title"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Slug
        <input
          name="slug"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Content
        <textarea name="content" form="blog-form"></textarea>
      </label>
      <br>

      <label>
        Password
        <input
          name="password"
          type="password"
          required
        >
      </label>
      <br>

      <button type="submit">Publish</button>
    </form>
  </main>
</body>
</html>
