<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if (locals.title) { %><%= title %><% } else { %>dinoblog<% } %></title>
  <link rel="stylesheet" href="https://latex.now.sh/style.min.css" />
</head>
